

<p>
  <strong>Type:</strong>
  <%= @dailymail.type %>
</p>

<p>
  <strong>Slotid:</strong>
  <%= @dailymail.slotid %>
</p>

<p>
  <strong>Siteid:</strong>
  <%= @dailymail.siteid %>
</p>

<p>
  <strong>Sitename:</strong>
  <%= @dailymail.sitename %>
</p>

<p>
  <strong>Pricelevel:</strong>
  <%= @dailymail.pricelevel %>
</p>

<p>
  <strong>Requestid:</strong>
  <%= @dailymail.requestid %>
</p>

<p>
  <strong>Adunit:</strong>
  <%= @dailymail.adunit %>
</p>

<p>
  <strong>Dealid:</strong>
  <%= @dailymail.dealid %>
</p>


<p>
  <strong>Domain:</strong>
  <%= @dailymail.domain %>
</p>

<p>
  <strong>Country:</strong>
  <%= @dailymail.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @dailymail.state %>
</p>

<p>
  <strong>Dma:</strong>
  <%= @dailymail.dma %>
</p>

<p>
  <strong>Connectionspeed:</strong>
  <%= @dailymail.connectionspeed %>
</p>

<p>
  <strong>Os:</strong>
  <%= @dailymail.os %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @dailymail.browser %>
</p>

<p>
  <strong>Devicetype:</strong>
  <%= @dailymail.devicetype %>
</p>

<p>
  <strong>Language:</strong>
  <%= @dailymail.language %>
</p>

<p>
  <strong>Dspname:</strong>
  <%= @dailymail.dspname %>
</p>

<p>
  <strong>Brandid:</strong>
  <%= @dailymail.brandid %>
</p>

<p>
  <strong>Brandname:</strong>
  <%= @dailymail.brandname %>
</p>

<p>
  <strong>Campaignid:</strong>
  <%= @dailymail.campaignid %>
</p>

<p>
  <strong>Usermatchstatus:</strong>
  <%= @dailymail.usermatchstatus %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @dailymail.timestamp %>
</p>

<p>
  <strong>Winrate:</strong>
  <%= @dailymail.winrate %>
</p>

<p>
  <strong>Bidrate:</strong>
  <%= @dailymail.bidrate %>
</p>

<p>
  <strong>Clearprice:</strong>
  <%= @dailymail.clearprice %>
</p>

<%= link_to 'Edit', edit_dailymail_path(@dailymail) %> |
<%= link_to 'Back', dailymails_path %>
